body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("https://preview.redd.it/ptyvlilmng741.png?width=960&crop=smart&auto=webp&s=447958db65bd3cc93845100061bb2def818083b6");
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#piece{
    position:absolute;
    transform:translate(-50%,-50%);
    height:67px;
    width:67px;
    border-radius:50%;
    background-image: url("https://i.pinimg.com/564x/a3/86/a9/a386a98349a64c00d54a93d4c194ff76.jpg");
    background-size: 67px 67px;
 
}

.board {
    height: 440px;
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border: 10px solid gray;
    margin-top: 100px 

}
.tile {
    background-color: gray;
    height: 63px;
    width: 63px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 0px 0px 5px 5px;
}

.player-one{
    background-color: red;
    border-radius: 10px;

}
.player-two{
    background-color: blue;
    border-radius: 10px;
}

.start{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://art.pixilart.com/59a48631f248f48.gif);
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
    background-position: center;
    color:white;
    z-index: 200;
    text-align: center;
    line-height: 90vh;

}


.start.display-none{
    position: fixed;
    opacity:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    color:white;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;

}

@keyframes fadeIn{
    to{
        opacity:1;
    }
}

.fade-in{
    opacity:0;
    animation:fadeIn 1s ease-in forwards;
}